.overlayEntering {
  animation: fadeIn 0.2s ease-out forwards;
}

.overlayExiting {
  animation: fadeOut 0.2s ease-out forwards;
}


.modalEntering {
  animation: modalIn 0.3s ease-out forwards;
}

.modalExiting {
  animation: modalOut 0.25s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0;
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes modalOut {
  from {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  to {
    opacity: 0;
    transform: scale(0.9) translateY(-20px);
  }
}

